.nav{
    background-color:whitesmoke;
}
.container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .parkvahan-logo {
    height: 50px; 
    width: auto;
  }
  
  .book-appointment{
    color: #ffffff;
    padding: 0.6rem 2rem;
    background: linear-gradient(90deg, #00C6FF 0%, #01A1FF 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    border-radius: 0.3rem;
    border: none;
  }